/********** BODY ******************/

body {
  margin: 0;
  padding: 0;
  background: black;

}

* {
  box-sizing: border-box;
  outline: 0;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  overflow-x: hidden !important;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

/********** HEADER ******************/

.head-logo-nav {

  display: grid;

  grid-template-rows: 60px;
  grid-template-columns: auto auto;

  margin-top: 35px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.head-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;


  align-items: center;
  justify-items: center;

  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 1px;

  border-style: solid;
  border-color: white;
  background-color: black;

  padding: 0px;
  margin: 10px;
  margin-top: 5px;
}

.logo {
  width: 160px;

}

.logoL {
  width: 400px
}

.item {
  width: 100px;
  height: 100px;
  align-self: center;
  justify-content: center;

}

/********** BODY ******************/




/********** FOOTER ******************/

.myFoter {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: center;
}

.item-footer {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 3000px) {

  /********** HEADER ******************/

  .logo {
    width: 120px;
    margin-bottom: 35px;
    margin-right: 8px;
  }


  .logoL {
    width: 240px;
    margin-bottom: 20px;
  }

  /********** BODY ******************/

  .quemSomos-container {
    text-align: center;

    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;


  }

  .img-first {
    align-self: center;
    max-width: 500px;
    margin: 20px;
  }

  .img-casaMasagem {
    max-width: 100%;
    max-height: 100vh;
    padding: 0;
  }

  .container-casaMasagem {

    width: auto;
    height: auto;
    overflow: hidden;
  }

  .account_circle {
    font-size: 90px !important;
    margin: 0;
  }

  .h1-QuemSomos {}


  .quemSomos {}

  .icons-itens {
    font-size: 30px !important;
  }

  .agendar-btn {
    width: 150px;
    margin-top: 20px;
    padding: 10px;
  }

  .whats-icon {
    width: 50px !important;
  }

  /********** FOOTER ******************/

  .Endereço-footer {
    text-align: center;
    margin-top: 10px;
  }

  .Endereço-footer {
    text-align: center;
  }

  .informação-footer {
    text-align: center;
  }

  .logo-footer-a {
    padding-bottom: 65px;

  }

  .pagamento-footer {
    width: 10px;
  }

}

@media screen and (max-width: 900px) {

  /********** BODY ******************/


}

@media screen and (max-width: 430px) {

  /********** HEADER ******************/

  .head-logo-nav {
    margin-top: 10px;
  }

  .logo {
    width: 90px;
    margin-top: 20px;
    margin-left: 0px;
  }


  .logoL {
    width: 200px;
    margin-top: 5px;
    margin-left: 7px;
  }

  /********** BODY ******************/

  .quemSomos-container {
    text-align: center;

    display: block;

    justify-content: center;
    align-content: center;
    align-items: center;


  }

  .img-first {
    align-self: center;
    max-width: 500px;
    margin: 20px 0px;
  }

  .account_circle {
    font-size: 90px !important;
    margin: 0;
  }

  .h1-QuemSomos {}

  .img-casaMasagem {
    width: 100%;
    max-height: 100vh;
    padding: 0;
  }

  .quemSomos {}

  .icons-itens {
    font-size: 30px !important;
  }

  .agendar-btn {
    width: 150px;
    margin-top: 20px;
    padding: 10px;
  }

  .whats-icon {
    width: 50px !important;
  }

  /********** FOOTER ******************/

  .myFoter {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;


  }

  .Endereço-footer {
    text-align: center;
  }

  .informação-footer {
    text-align: center;
  }

  .logo-footer-a {
    padding-bottom: 65px;

  }

  .pagamento-footer {
    width: 10px;
  }

}